################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/DIPLOMA_STATE/.vs/DIPLOMA_STATE/CopilotIndices/17.14.1530.14912/CodeChunks.db
/DIPLOMA_STATE/.vs/DIPLOMA_STATE/CopilotIndices/17.14.1530.14912/CodeChunks.db-shm
/DIPLOMA_STATE/.vs/DIPLOMA_STATE/CopilotIndices/17.14.1530.14912/CodeChunks.db-wal
/DIPLOMA_STATE/.vs/DIPLOMA_STATE/CopilotIndices/17.14.1530.14912/SemanticSymbols.db
/DIPLOMA_STATE/.vs/DIPLOMA_STATE/CopilotIndices/17.14.1530.14912/SemanticSymbols.db-shm
/DIPLOMA_STATE/.vs/DIPLOMA_STATE/CopilotIndices/17.14.1530.14912/SemanticSymbols.db-wal
/DIPLOMA_STATE/.vs/DIPLOMA_STATE/FileContentIndex/06b53b79-d255-49d5-9051-b8fc56ecda4c.vsidx
/DIPLOMA_STATE/.vs/DIPLOMA_STATE/FileContentIndex/3bcbdf85-27c8-4978-8cbe-3f9b146cd305.vsidx
/DIPLOMA_STATE/.vs/DIPLOMA_STATE/FileContentIndex/5dee8125-65b9-4c64-8d8c-382d4206768d.vsidx
/DIPLOMA_STATE/.vs/DIPLOMA_STATE/FileContentIndex/bc3d7188-9d8c-41ab-a550-69203534e2eb.vsidx
/DIPLOMA_STATE/.vs/DIPLOMA_STATE/FileContentIndex/c16fee60-c30f-44ff-aff6-c693d9575eb1.vsidx
/DIPLOMA_STATE/.vs/DIPLOMA_STATE/FileContentIndex/c4eeabee-99ba-48bf-8d6a-2a94c6fd770e.vsidx
/DIPLOMA_STATE/.vs/DIPLOMA_STATE/FileContentIndex/d160041a-cf2c-4e3e-8ad7-6a92600d9e41.vsidx
/DIPLOMA_STATE/.vs/DIPLOMA_STATE/FileContentIndex/f4d275f8-d7f4-4348-a518-ad08889a12b8.vsidx
/DIPLOMA_STATE/.vs/DIPLOMA_STATE/FileContentIndex
/DIPLOMA_STATE/.vs/DIPLOMA_STATE/DesignTimeBuild
