################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/DiplomaFinal/.vs/DiplomaFinal
/.vs/DiplomaFinal/CopilotIndices/17.14.1530.14912
/.vs/DiplomaFinal
/DiplomaFinal/.vs/ProjectEvaluation
